{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wynajem_limuzyn/bootstrap.min.css' %}">

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'wynajem_limuzyn:index' %}">Wynajem limuzyn</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link">{{garaz.miasto}}, ul. {{garaz.ulica}} {{garaz.numer}}</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'wynajem_limuzyn:search_samochod' garaz.id %}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Model" aria-label="Model" name="model">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
</nav>
{% if garaz.samochod_set %}   
<div class="row row-cols-1 row-cols-md-3">
    {% for samochod in garaz.samochod_set.all %}
    <div class="col mb-4">
        <div class="card h-100">
            <img src="/media/{{samochod.zdjecie}}" class="card-img-top" alt="zdjecie samochodu">
            <div class="card-body">
                <h5 class="card-title">{{samochod.marka}} {{samochod.model}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Liczba miejsc: {{samochod.liczba_miejsc}}</li>
                <li class="list-group-item">Data produkcji: {{samochod.data_produkcji}}</li>
                <li class="list-group-item">Euro 4:
                    {% if samochod.is_eco %}
                        TAK
                    {% else %}
                        NIE    
                    {% endif %}
                </li>
                <li class="list-group-item">Cena za godzine: {{samochod.cena}}</li>
            </ul>
            <div class="card-body">
                {% if samochod.wypozyczony is False %}
                <a href="/{{samochod.id}}/wypozycz/" class="btn btn-primary">Wynajmij</a>
                {% else %}
                <a href="wypozycz" class="btn btn-primary disabled" >Wynajmij</a>
                <form action="{% url 'wynajem_limuzyn:oddaj' samochod.id %}" method="post" >{% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Oddaj">
                 </form>
                {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <div class="alert alert-danger" role="alert">
        {% if error_message %}
            {{ error_message }}
        {% else %}
            Nie ma żadnych samochodów.
        {% endif %}
    </div>
{% endif %}    