{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wynajem_limuzyn/bootstrap.min.css' %}">

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'wynajem_limuzyn:index' %}">Wynajem limuzyn</a>
  <form class="form-inline my-2 my-lg-0" action="{% url 'wynajem_limuzyn:search_miasto' %}" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Miasto" aria-label="Miasto" name="miasto">
    <input class="form-control mr-sm-2" type="search" placeholder="Kod pocztowy" aria-label="Kod pocztowy" name="kod_pocztowy">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
  </form>
</nav>

{% if garaze %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Miasto</th>
                <th scope="col">Kod pocztowy</th>
                <th scope="col">Ulica</th>
                <th scope="col">Numer</th>
                <th scope="col">Ilosc samochodow</th>
                <th scope="col">Ilosc dostepnych samochodow</th>
            </tr>
        </thead>
        <tbody>
            {% for garaz in garaze %}
                <tr onclick="window.location='{% url 'wynajem_limuzyn:detail' garaz.id %}'">
                    <th scope="row">{{ garaz.id }}</th>
                    <td>{{ garaz.miasto }}</td>
                    <td>{{ garaz.kod_pocztowy }}</td>
                    <td>{{ garaz.ulica }}</td>
                    <td>{{ garaz.numer }}</td>
                    <td>{{ garaz.ilosc_samochodow }}</td>
                    <td>{{ garaz.ilosc_dostepnych_samochodow }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-danger" role="alert">
        {% if error_message %}
            {{ error_message }}
        {% else %}
            Nie ma żadnych garaży.
        {% endif %}
    </div>
{% endif %}    