{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'wynajem_limuzyn/bootstrap.min.css' %}">

<h1>Wypożyczalnia</h1>
<div class="row row-cols-1 row-cols-md-3">
    <div class="card-body">
        <h2 class="card-title">Wypożyczasz {{samochod.marka}} {{samochod.model}}</h2>
        <img src="/media/{{samochod.zdjecie}}" class="card-img-top" alt="zdjecie samochodu">
        <form method="post" class="post-form">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input class="btn btn-primary" type="submit" value="Wypożycz">
        </form>
    </div>
</div>

